@using System.Globalization
@model WakeOnLAN.Models.Save.ActualizeResultModel
@{
    
}


    <div>
        <br/>
        @Html.ActionLink("Обновить сетевые адреса хостов", "Actualize", null, new { @class = "btn" })
        <br>
    </div>
    @if (Model != null)
    {
        <table>
            <tr>
                <td>Добавлено хостов:</td>
                <td>@Html.Label(Model.New.ToString(CultureInfo.InvariantCulture))</td>
            </tr>
            <tr>
                <td>Всего хостов:</td>
                <td>@Html.Label(Model.Total.ToString(CultureInfo.InvariantCulture))</td>
            </tr>
        </table>}

