@{
    ViewBag.Title = "Инструкция";
}
@section featured {
    <section class="featured">
       
    </section>
}
<h3>Подготовка к включению:</h3>
<ol class="round">
    <li class="one">
        <h5>Включение по сети должно быть разрешено в настройках BIOS</h5>
        <br/>
    </li>

    <li class="two">
        <h5>Для включения необходимо знать сетевое имя компьютера</h5>
      <br/>
    </li>

    <li class="three">
        <h5>В разделе <a href="/wol/wol">[Включение]</a> нажмите кнопку [Отправить magic-packet] <br>напротив названия компьютера  </h5>       
        <br/>
    </li>
</ol>
